*.Load
*.ncb
*.suo
*.user
*.bin
*.obj
*.pch
*.pdb
*.idb
*.aps
*.bsc
*.sbr
*.tmp
Desktop.ini
*.opt
*.plg 
BuildLo.htm
*.lib
*.dll
*.exe
*.zip
*.cod
*.ilk
*.scc
SvnVersionInfo.txt
Thumb.db
*.tlb
*.class
*.clw
JdmSvcFr/
JdmSvcFr_New/
*.log
Debug
Release